
body{
    background-image: url(pexels-markus-spiske-234133.jpg);
    /* background-color:rgb(109, 204, 204) ; */
    background-size: cover;
    text-align: center;
    margin: 200px auto;
    

}
h1{
    background-color:rgba(0, 0, 0, 0.493);
    color:cornsilk;
    width:200px;
    padding:7px;
    margin:10px auto;
    height: 50px;
    border: black solid 2px;
}
button{
    background-color: rgb(231, 174, 154);
    width:100px;
    padding:4px;
    margin:10px auto;
    height: 25px;
    border: black solid 2px;
}
#ans{
        background-color:rgba(139, 0, 0, 0.438) ;
        width:100px;
        padding:4px;
        margin:10px auto;
        height: 25px;
        border: black solid 2px;
        color:whitesmoke
    
}